body{
  background-color: gray;
}

.link{
  text-decoration: none;
}

/* NAVBAR */
.typography:hover{
  color:#f06292 ;
}

.navbar{
  color: black;
  text-decoration: none;
}

.navbar:hover{
  color: #f06292;
}  

.nav-link:hover{
  color: pink;
  text-shadow: 0 0 5px #f06292, 0 0 15px #f06292, 0 0 30px #f06292, 0 0 50px #f06292;
}

.num{
  color: white;
}

.loading{
  margin-top: 20px;
  text-align: center;  
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 5px #f06292, 0 0 15px #f06292, 0 0 30px #f06292, 0 0 50px #f06292;
}